beautifulsoup4
cairocffi
cairosvg
cffi
click
cssselect2
defusedxml
html5lib
jinja2
livereload
markdown
markupsafe
mkdocs
mkdocs-rtd-dropdown
mkpdfs-mkdocs
pillow
pycparser
pyphen
pyyaml
six
soupsieve
tinycss2
tornado
weasyprint
webencodings