alabaster==0.7.12
Babel==2.7.0
beautifulsoup4==4.8.1
cairocffi==1.1.0
CairoSVG==2.5.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cssselect2==0.2.2
defusedxml==0.6.0
docutils==0.15.2
fontawesome-markdown==0.2.6
html5lib==1.0.1
htmlmin==0.1.12
idna==2.8
imagesize==1.1.0
Jinja2==2.11.3
jsmin==2.2.2
livereload==2.6.1
Markdown==3.1.1
MarkupSafe==1.1.1
mkdocs==1.0.4
mkdocs-material==4.6.0
mkdocs-minify-plugin==0.2.1
mkdocs-rtd-dropdown==1.0.2
mkpdfs-mkdocs==1.0.1
packaging==19.2
pep562==1.0
Pillow==8.1.1
pycparser==2.19
Pygments==2.5.2
pymdown-extensions==6.2
pyparsing==2.4.5
Pyphen==0.9.5
pytz==2019.3
PyYAML==5.2
requests==2.22.0
six==1.13.0
snowballstemmer==2.0.0
soupsieve==1.9.5
Sphinx==2.2.2
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
tinycss2==1.0.2
tornado==6.0.3
urllib3==1.25.7
WeasyPrint==50
webencodings==0.5.1
